body {
  background-color: #2431C8;
}

table {
  background-color: #1D27A2;
}

tr {
  background-color: #ffffff;
  border: 2px dashed #555555;
}

th {
  background-color: #222EBB;
  border: 2px dashed #555555;
}

td {
  background-color: #1D27A2;
  border: 2px dashed #555555;
}

input {
  background-color: #1D27A2;
}
