body {
  background-color: #3AF3F2;
}

table {
  position: relative;
  margin-left: 4em;
  margin-top: 10em;
  background-color: #84B8D9;
  box-shadow: 1px 2em 3em;
}

h1 {
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: #7F88FF;
  width: 7.5em;
  border: 5px groove #6997BF;
  margin-left: 11.5em;
  font-family: 'Eater', cursive;
}

tr {
  background-color: #84B8D9;
}

th {
  background-color: #7F88FF;
}

td {
  background-color: #84B8D9;
  border: 2px solid #555555;
}

input {
  background-color: #192656;
  border: 2px solid #000000;
  color: #192656;
}

thead tr {
  text-shadow: .2px .2px 1px;
}
form {
  position: fixed;
  margin-top: 10%;
  margin-left: 20%;
  box-shadow: 1em 1em 3em;
  border: 1px dashed #000000;
  width: 37.5em;
  display: block;
}
