body {
  background-color: #3AF3F2;
}

table {
  background-color: #84B8D9;
}

tr {
  background-color: #84B8D9;
}

th {
  background-color: #222EBB;
}

td {
  background-color: #84B8D9;
  border: 2px solid #555555;
}

input {
  background-color: #3AF3F2;
  border: none;
  color: #192656;
}

thead tr {
  text-shadow: .2px .2px 1px;
}
form label{
box-shadow: .5px .5px .5px .5px;
}
